body {
  background-color: #6EA59B;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}
main h1 {
  color: #FCE38A;
  font-size: 2.7rem;
}
main h3 {
  color: #F5F5F5;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1.25rem;
  font-weight: 600;
}
main .customer-details,
main .room-details {
  color: #F5F5F5;
  display: flex;
  align-items: center;
}
main .customer-details h4,
main .room-details h4 {
  white-space: nowrap;
}
main .customer-details .circle,
main .room-details .circle {
  width: 75px;
  height: 75px;
  background: #E0CA7B;
  border-radius: 100%;
  margin-right: 1rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .customer-details .circle img,
main .room-details .circle img {
  width: 60%;
}
main .booking-information {
  display: flex;
  flex-direction: column;
}
main .booking-information .booking-date button {
  background-color: #E0CA7B;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 2rem;
  font-weight: 600;
}
main .booking-information .booking-date button img {
  width: 40px;
  margin-right: 1rem;
}
main .booking-information .booking-customer-details {
  display: flex;
  gap: 9rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  padding-left: 3rem;
}
main .booking-information .booking-room-details {
  display: flex;
  gap: 9rem;
  margin: 0 auto;
  justify-content: center;
  margin-top: 4em;
  padding-left: 3rem;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 0;
}

@media (max-width: 800px) {
  main h1 {
    font-size: 1.5rem;
  }
  main h3 {
    font-size: 1rem;
  }
  main .booking-information .booking-customer-details {
    flex-direction: column;
    gap: 2rem;
  }
  main .booking-information .booking-room-details {
    flex-direction: column;
    gap: 2rem;
  }
}