::-webkit-calendar-picker-indicator {
  display: none;
}

h1 {
  color: #FCE38A;
  text-align: center;
  margin-bottom: 4rem;
}

.date {
  background-color: #6EA59B;
  border-radius: 5rem;
  width: 60%;
  margin: 0 auto;
  display: flex;
  font-size: 0.9rem;
}
.date .calendar-icon {
  color: #F5F5F5;
  font-size: 3rem;
  background: #b7d2cd;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 5rem;
}
.date .date-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 1.5rem;
  color: #F5F5F5;
  width: 100%;
  margin-left: auto;
}
.date .date-grid h3 {
  margin-top: 1rem;
}
.date .date-grid input {
  margin-bottom: 1rem;
  background: transparent;
  font-weight: 700;
  color: white;
}
.date .date-grid > * {
  justify-self: center;
  align-self: center;
}

.option-selector-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.option-selector-wrapper .option-selectors {
  margin: 0 1rem;
  position: relative;
  display: flex;
  background-color: #6EA59B;
  justify-content: space-between;
  width: 270px;
  border-radius: 5rem;
  cursor: pointer;
}
.option-selector-wrapper .option-selectors .single-bed-option,
.option-selector-wrapper .option-selectors .non-smoking-option {
  background-color: #6EA59B;
  border-radius: 5rem;
  padding: 1rem 3rem;
}
.option-selector-wrapper .option-selectors .double-bed-option,
.option-selector-wrapper .option-selectors .smoking-option {
  background-color: #D9D9D9;
  border-radius: 5rem;
  padding: 1rem 3rem;
}

.personal-details {
  height: 100vh;
  background-color: #FCE38A;
}
.personal-details h2 {
  color: #361D1D;
  text-align: center;
  padding-top: 1rem;
}
.personal-details .personal-details-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}
.personal-details .personal-details-form .personal-detail {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-details .personal-details-form .personal-detail input {
  background: rgba(96, 92, 92, 0.17);
}
.personal-details .personal-details-form .personal-detail label {
  color: #361D1D;
  font-weight: 700;
}
.personal-details .button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.personal-details .button-wrapper .confirm-booking {
  text-decoration: none;
}
.personal-details .button-wrapper .confirm-booking button {
  background: #6EA59B;
  border-radius: 2rem;
  font-weight: 700;
  margin-top: 5rem;
}
.personal-details .button-wrapper .confirm-booking:hover {
  opacity: 0.8;
}