// Fonts and icons
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
// Imports
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

h1 {
    letter-spacing:0.2rem;
}

h2 {
    letter-spacing:0.3rem;
}



button {
  color: $light-gray;
  padding: 0.7rem 1.8rem;
  text-decoration: none;
  border-radius: 0.8rem;
  border:none;
  cursor:pointer;
}
