@import "./variables";

body {
  background-color: $accent-color-dark;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  h1 {
    color: $brand-color;
    font-size: 2.7rem;
  }

  h3 {
    color: $light-gray;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top:1.25rem;
    font-weight: 600;
  }

  h4 {
    color: $light-gray;
    font-size: 1rem;
    position: relative;
    &::before {
      content: "";
      width: 80px;
      height: 80px;
      background: $darker-brand-color;
      position: absolute;
      left: -100px;
      top: -110%;
      border-radius: 100%;
    }
  }

  .booking-information {
    display: flex;
    flex-direction: column;
    .booking-customer-details {
      display: flex;
      gap: 9rem;
      margin-bottom: 5rem;
      width: 80%;
      justify-content: center;
      margin: 0 auto;
      margin-top: 2rem;
      padding-left:3rem;
    }
    .booking-room-details {
      display: flex;
      gap: 9rem;
      width: 60%;
      margin: 0 auto;
      justify-content: center;
      margin-top: 9em;
      padding-left:3rem;

    }
  }
}
